{% extends 'base.html' %}

{% block content %}
<h3>News</h3>

<div class="content">
    
    <div class="news-wrapper">
        <div class="news">
            
        </div>
        <div class="news">
    
        </div>
    </div>
    <div class="forum">

    </div>
</div>
<style>
    .news {
        border-style: dashed;
        margin: 3vmax;
        height: 30vh;
        width: 30vw;
    }
    .news-wrapper {
        display:inline-flex;
        justify-self: center;

    }
    .forum {
        border-style: solid;
        display: inline-flex;
        justify-self: center;
        margin: 2vmax;
        height: 30vh;
        width: 66vw;
    }
</style>
{% endblock %}