{% extends 'base.html' %}

{% load static %}
{% block content %}
<h3>Resources</h3>

<div class="content">
    
    <div class="body">
        
        <ul>
            <li><a href="https://gbf.wiki/" target="_blank">Granblue Wiki</a></li>
            <li><a href="https://gbfguide.com/" target="_blank">gbfguide website</a></li>
            <li><a href="https://www.reddit.com/r/Granblue_en/" target="_blank"><img style="height: 20px; width: 20px;" src="{% static 'images/redditred.svg' %}" alt="Reddit icon">GBF Subreddit</a></li>
            <li><a href="https://x.com/granblue_en" target="_blank"><img style="height: 20px; width: 20px;" src="{% static 'images/twt.svg' %}" alt="twitter icon">GBF EN Unofficial Twitter</a></li>
        </ul>
    </div>
</div>
{% endblock %}